.resume-container{
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 150px;
}

.resume{
    padding: 0;
    margin: 20px;
    box-shadow: 0 0 20px black;
}

.certificates{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cert{
    margin: 20px;
    box-shadow: 0 0 20px black;
}

.cert:hover{
    cursor: pointer;
}

.modal{
    box-shadow: 0 0 20px black;
}

@media only screen and (max-width: 812px){
    
    .resume{
        padding: 0;
        margin: auto;
        box-shadow: 0 0 20px black;
    }
    
    .certificates{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .cert{
        margin: 20px;
        box-shadow: 0 0 20px black;
    }
    
    .cert:hover{
        cursor: pointer;
    }
    
    .modal{
        box-shadow: 0 0 20px black;
    }
}