.resume-container{
    height: 100vh;
    width: auto;
}

.resume{
    box-shadow: 0 0 20px black;
    width: 600px;
    height: 800px;
}

.certificates{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cert{
    margin: 20px;
    box-shadow: 0 0 20px black;
}

.cert:hover{
    cursor: pointer;
}

.modal{
    box-shadow: 0 0 20px black;
}